<h1>Add Grade</h1>
<form action="/update-grade" method="POST">
  Percentage <input class="form-control" type="text" name="percentage" id="percentage" value="{{grade.percentage}}" />
  Letter Grade <input class="form-control" type="text" name="letter_grade" id="letter_grade" value="{{grade.letter_grade}}" />
  <input type="hidden" name="id" value="{{grade.id}}" />
  <input type="hidden" name="studentId" value="{{student.id}}" />
  <input type="hidden" name="assignmentId" value="{{assignment.id}}" />
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>