<h1>Grade List</h1><a href="/auth/logout"class="btn btn-danger">Log out</a><br/>
<a href="/add" class="btn btn-primary">Add Student</a>
<a href="/add-edit-assignment" class="btn btn-primary">Add/Edit New Assignment</a>
<a href="/users-list" class="btn btn-info">See Users</a>
<a href="/assignment-list" class="btn btn-info">See Assignments</a>
<a href="/" class="btn btn-info">Back To Student List</a>
<br/>
<br/>
<table class="table">
  <thead>
    <tr>
      <th>ID:</th>
      <th>Description:</th>
      <th>Due Date:</th>
      <th>Percentage:</th>
      <th>Letter Grade:</th>
    </tr>
  </thead>
  <tbody>
    {{#each assignments}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.description}}</td>
        <td>{{this.due_date}}</td>
        <td>{{this.grade.percentage}}</td>
        <td>{{this.grade.letter_grade}}</td>
        <td>
          <a href="/add-edit-grade/{{../student.id}}/{{this.id}}" class="btn btn-primary">Add New Grade</a>
          <a href="/edit-grade/{{this.grade.id}}" class="btn btn-secondary">Edit</a>
          <a href="/delete-grade/{{this.id}}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>